<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/img/logo.png">
        <script src="https://cdnjs.loli.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>BBS简介</title>
        <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
        <div class='header'>
                <div class="menu">
                        <ul class="menubar" id="left_nav">
                            <li class="menu-value" ><a class="navbar_brand" class="navbar_img" style="font-weight:bold" href="/">
                                <img src="/static/img/bbs.png" class="navbar_img"></a><li>
                            <li class=""><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                            <li class="" ><a href="/newpost/"><span class="glyphicon glyphicon-time"></span> 最新</a></li>
                            <li class="" ><a href="/search/"><span class="glyphicon glyphicon-search"></span> 搜索</a></li>
                            <li class="" ><a href="/introduce/"><span class="glyphicon glyphicon-info-sign"></span> 说明</a></li>
                        </ul>
                        <ul class="menubar_right" id="right_nav">
                            <li class=""><a href='/login/'> 登陆</a></li>
                        </ul>
                </div>
            </div>
    <div class="content">
            <div class="container">
                    <div class="jumbotron">
                        <h1>欢迎来到BBS简介页面！</h1>
                        <p><strong>BBS</strong>的英文全称是Bulletin Board System。翻译为中文就是<strong>"电子布告栏系统"</strong>。BBS最早是用来公布股市价格等类信息的，当时BBS连文件传输的功能都没有，而且只能在苹果机上运行。早期的BBS与一般街头和校园内的公告板性质相同，只不过是通过网络来传播或获得消息而已。

                                一直到开始普及之后，有些人尝试将苹果计算机上的BBS转移到个人计算机上，BBS才开始渐渐普及开来。近些年来，由于爱好者们的努力，BBS的功能得到了很大的扩充。
                                
                                通过BBS系统可随时取得各种最新的信息;也可以通过BBS系统来和别人讨论计算机……等等各种有趣的话题;还可以利用BBS系统来发布一些"征友"、"廉价转让"、"招聘人才"及"求职应聘"等启事;更可以召集亲朋好友到聊天室内高谈阔论
                                
                                首先说明一下，上面说的"论坛"一般就是大家口中常提的BBS。在网络以外的现实世界中，"论坛"是指一种高规格、有长期主办组织、多次召开的研讨会议。著名的论坛有:博鳌亚洲论坛，精英外贸论坛，中国-东盟自由贸易区论坛，泛北部湾经济合作论坛……
                                
                                一种后缀修饰词，一般用于企业、个人、网站等用词。比如:80后之窗论坛、南阳零距离论坛、生活121论坛、企业论坛、爱看txt小说论坛、论坛会议、百度论坛等。后来被很多高校采用发展为校内论坛。比如南京大学的小百合，北京邮电大学的北邮人论坛及江南大学的江南听雨论坛等。</p>
                        <p><em><small>----摘自360百科</small></em></p>
                        <p><a class="btn btn-primary btn-lg" role="button" href="https://baike.so.com/doc/4842418-5059475.html">
                            学习更多</a>
                        </p>
                    </div>
                    <div class="jumbotron">
                            <h1>BBS的特点:</h1>
                            <p>BBS通过目前世界上最大的互联网络来发布电子信息，同时还大量引进了Internet特有的先进技术。综合来看。BBS具有以下几个特点。</p>
                        　　<p>1、信息量大</p>
                        　　<p>在Internet上，人们可以查询到几乎涉及所有自然学科、社会学科的信息。大型电子图书馆、网上信息库的建立，连入网络数量的继续增加及信息种类的不断丰富.使Internet成为独一无二的、最大的共享信息源。BBS同样也得益于Internet的信息优势。可以向网上用户提供极其丰富的信息资源。</p>
                            <p>2、信息更新快</p>
                            <p>与Internet上其他部分的资源相比，BBS是信息更新速度较快的一种。每个BBS站点的信息随时都处于不断更新中。BBS的普通用户在获取信息的同时，也提供各种不同的信息。</p>
                            <p>3、交互性强</p>
                            <p>BBS具有很强的实时交互操作功能，能够提供强大的站上实时交谈和交互游戏的功能。BBS按不同的主题分成很多个布告栏。布告栏的设立依据是大多数BBS使用者的要求和喜好，使用者可以阅读他人关于某个主题的最新看法，也可以将自己的想法毫无保留地贴到公告栏中。如果需要私下交流，也可以将想说的话直接发到某个人的电子信箱中。</p>
                            <p><em><small>----摘自百度百科</small></em></p>
                            <p><a class="btn btn-primary btn-lg" role="button" href="https://baike.baidu.com/item/%E7%94%B5%E5%AD%90%E5%85%AC%E5%91%8A%E7%89%8C%E7%B3%BB%E7%BB%9F/8851955?fromtitle=bbs&fromid=4363599">
                                学习更多</a>
                            </p>
                        </div>
                </div>
    </div>
    <div class="jumbotron text-center" style="margin-top:500px" id="footer">
            <p>哈尔滨工程大学---数据库课程设计---2019</p>
    </div>
</body>
</html>