<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/img/logo.png">
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <script type="text/javascript" src="/static/js/check_session.js"></script>
    <title>数据统计</title>
</head>
<div class='header'>
    <div class="menu">
        <div>
            <ul class="menubar" id="left_nav">
                <li class="menu-value"><a class="navbar_img" style="font-weight:bold" href="/">
                        <img src="/static/img/bbs.png" class="navbar_img"></a>
                <li>
                <li class=""><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li class=""><a href="/newpost/"><span class="glyphicon glyphicon-time"></span> 最新</a></li>
                <li class=""><a href="/search/"><span class="glyphicon glyphicon-search"></span> 搜索</a></li>
                <li class=""><a href="/introduce/"><span class="glyphicon glyphicon-info-sign"></span> 说明</a></li>
            </ul>
            <ul class="menubar_right" id="right_nav">
                <li id="session_check_nav"><a href='/login/'> 登陆</a></li>
            </ul>
        </div>
    </div>
</div>
<div class='content'>
    <div class='content_box'>
        <div class='card' id='user_info_box'>
            <! -- 用户信息 -->
                <p style='text-align: center;font-size: 25px;'><strong>👇查看统计数据👇</strong></p>
        </div>
        <div class='card'>
            <table id="datatable" class='table'>
                <thead>
                    <tr id='data_th'>
                        <! -- 标题 -->
                            <th></th>
                            <th>发帖数</th>
                            <th>评论数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id='data_td'>
                        <! -- 数据 -->
                            <td>统计</td>
                            <td>1</td>
                            <td>1</td>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    get_tongji = function () {
        $.post('/check-session/', {}, function (ans) {
            if (ans == '') {
                alert('请登陆后再查看！')
                window.location.replace('/login/')
            }
            else {
                nickname = ans
                $.post('/check-permission/', {}, function (ans) {
                    if (ans == 'users') {
                        $.post('/get-tongji/', {}, function (ans) {
                            ans = $.parseJSON(ans)[0]
                            $('#user_info_box').append("<p><strong>用户id：</strong>" + ans[0] + "<span style='margin-left:50px;'></span><strong>注册时间：</strong>" + ans[3] + "</p>")
                            $('#data_th').html("<th></th><th>发帖数</th><th>评论数</th>")
                            $('#data_td').html("<td>统计</td><td id='p_num'>" + ans[1] + "</td><td id='c_num'>" + ans[2] + "</td>")
                        })

                    }
                    else {
                        $.post('/get-tongji/', {}, function (ans) {
                            ans = $.parseJSON(ans)[0]
                            $('#data_th').html("<th></th><th>用户数</th><th>发帖数</th><th>评论数</th>")
                            $('#data_td').html("<td>统计</td><td id='u_num'>" + ans[0] + "</td><td id='p_num'>" + ans[1] + "</td><td id='c_num'>" + ans[2] + "</td>")
                        })
                    }
                })
            }
        })
    }

    $(document).ready(function () {
        get_tongji()
    });
</script>
<div class="jumbotron text-center" style="margin-top:500px" id="footer">
    <p>哈尔滨工程大学---数据库课程设计---2019</p>
</div>
</body>